@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Space+Grotesk&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Space Grotesk';
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fff;
}

.logo {
  width: 150px;
}

.text {
  text-transform: uppercase;
}

.nav-btn {
  visibility: hidden;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 20px;
}

.open-btn {
  position: fixed;
  top: 10px;
  left: 10px;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  /* transform: translateX(-100%);
  transition: transform 0.3;
  transition-delay: 0.4s; */
}

.nav.visible {
  transform: translateX(0);
}

.nav-black {
  background-color: rgb(34, 31, 31);
  width: 10%;
  max-width: 480px;
  min-width: 320px;
}

.nav-grey {
  background-color: #f5f5f5;
  width: 97%;
  padding: 3rem;
  position: relative;
}

.close-btn {
  position: absolute;
  top: 40px;
  right: 30px;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin: 20px 0;
  color: rgb(34, 31, 31);
}

@media (max-width: 500px) {
  .nav-btn {
    visibility: visible;
  }
  .nav {
    transform: translateX(-100%);
    transition: transform 0.3;
    transition-delay: 0.4s;
  }
}
